* {
  margin: 0;
  padding: 0;
}

.mt-10 {
  margin-top: 10px;
}

body {
  background-image: url(./img/bg-portal.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 20px 0;
}

.override {
  z-index: 9999 !important;
  /* transition: 0.4s; */
}

.registration,
.login {
  width: 60%;
}

@media (min-width: 320px) {
  .my-input {
    background-size: cover !important;
    width: 100%;
    color: #fff;
    padding: 5px;
    padding-left: 20px;
    margin-top: 9px;
    height: 35px;
  }
  .my-padding {
    padding: 0 18px 10px 18px !important;
  }
  .mt-10 {
    margin-top: 4px;
  }
  .w-40 {
    width: 300px;
  }
  .box-registration {
    padding-top: 40px;
    padding-bottom: 5px;
  }
  .box-login {
    padding-top: 40px;
    padding-bottom: 5px;
  }
  .registration {
    left: 1px;
    top: 0px;
  }
  .login {
    right: 0px;
    top: 0px;
  }
  .width-50 {
    margin-top: 2px;
  }
}
@media (min-width: 375px) {
  .my-input {
    margin-top: 10px;
    height: 43px;
  }
  .my-padding {
    padding: 0 16px 10px 15px !important;
  }
  .w-40 {
    width: 355px;
  }
  .box-registration {
    padding-top: 48px;
  }
  .box-login {
    padding-top: 48px;
  }
}

@media (min-width: 414px) {
  .my-input {
    height: 48px;
  }
  .my-padding {
    padding: 0 16px 10px 16px !important;
  }
  .w-40 {
    width: 395px;
  }
  .box-registration {
    padding-top: 50px;
  }
  .box-login {
    padding-top: 50px;
  }
  .box-login .mt-10 {
    padding-top: 0px;
  }
}

@media (min-width: 425px) {
  .my-input {
    height: 49px;
  }
  .my-padding {
    padding: 0 18px 10px 18px !important;
  }
  .w-40 {
    width: 405px;
  }
  .box-registration {
    padding-top: 60px;
  }
  .box-login {
    padding-top: 60px;
  }
}

@media (min-width: 576px) {
  .my-input {
    margin-top: 10px !important;
  }
}

@media (min-width: 768px) {
  .my-input {
    height: 50px;
  }
  .my-padding {
    padding: 0 19px 10px 19px !important;
  }
  .w-40 {
    width: 415px;
  }
  .my-background > .mx-auto > .d-flex > img {
    max-width: 440px;
  }
  .box-registration {
    padding-top: 55px;
  }
  .box-login {
    padding-top: 55px;
  }

  .width-50 {
    margin-top: 4px;
  }
}

@media (min-width: 1024px) {
  .my-input {
    height: 52px;
  }
  .my-padding {
    padding: 0 20px 10px 20px !important;
  }
  .w-40 {
    width: 431px;
  }
  .my-background > .mx-auto > .d-flex > img {
    max-width: 460px;
  }
}
@media (min-width: 1440px) {
  .my-input {
    margin-top: 10px !important;
    height: 68px;
    font-size: 1.3rem;
  }
  .my-padding {
    padding: 0 18px 10px 18px !important;
  }
  .w-40 {
    width: 548px;
  }
  .my-background > .mx-auto > .d-flex > img {
    max-width: 460px;
  }
  .mt-sm-4 {
    margin-top: 8px !important;
  }
  .box-registration {
    padding-top: 75px;
  }
  .box-login {
    padding-top: 75px;
  }
}

@media (min-width: 1680px) {
  .my-input {
    margin-top: 7px;
    height: 64px;
  }
  .my-padding {
    padding: 0 18px 10px 18px !important;
  }
  .w-40 {
    width: 521px;
  }
  .my-background > .mx-auto > .d-flex > img {
    max-width: 460px;
  }
}
@media (min-width: 2560px) {
  .my-input {
    margin-top: 16px !important;
    height: 76px;
  }
  .my-padding {
    padding: 0 18px 10px 18px !important;
  }
  .w-40 {
    width: 615px;
  }
  .my-background > .mx-auto > .d-flex > img {
    max-width: 460px;
  }
  .box-registration {
    padding-top: 78px;
    padding-bottom: 6px;
  }
  .box-login {
    padding-top: 78px;
    padding-bottom: 6px;
  }
  .width-50 {
    width: 50%;
    margin-top: 7px;
  }
}

@media (max-width: 576px) {
  .mx-auto > .d-flex > img {
    max-height: 140px;
    max-width: 100%;
    height: auto;
  }
  .my-background {
    padding: 10px;
  }
  .my-pxr-md-20 {
    padding-right: 12px;
  }
  .my-pxl-md-20 {
    padding-left: 12px;
  }
}

.mt-40 {
  margin-top: 80px;
}

.my-input {
  background: url("./img/bd-input.png") no-repeat;
  background-size: cover;
  border: none;
}
.my-input:focus {
  outline: none;
  outline-offset: 0px;
  border: none;
  border-radius: 20px;
}

/* placeholder */

::-webkit-input-placeholder {
  /* Edge */
  color: #CDCDCD;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #CDCDCD;
}

::placeholder {
  color: #CDCDCD;
}

/* btn change form input */

.img-75 {
  width: 75%;
}
.my-nav-item {
  width: 50%;
}
.btn-registration,
.btn-facebook {
  width: 47%;
  padding: 0;
  margin: 8px 0;
}
.playNow {
  width: 70%;
}
.width-50 {
  width: 50%;
}
.mt-sm-4 {
  margin-top: 8px;
}
.nav {
  padding-left: 1px !important;
}

.tab-content {
  background: url(./img/bd-input-board.png) no-repeat;
  background-size: 100% 100%;
}
